<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Code - MyTelegram</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="box">
    <div class="logo">
      <!-- Logo Here -->>
    </div>
    <h1><%= code %></h1>
    <p>Is your verification code for <b>+<%= number %></b> on MyTelegram</p>
  </div>
</body>
</html>