<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - MyTelegram</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="box">
    <div class="logo">
      <!-- Logo Here -->>
    </div>
    <h1>Hello!</h1>
    <p>Register to create private number</p>
    <form action="/register" method="post">
        <div class="inputBox">
          <input type="password" name="password" placeholder="Password"/>
        </div>
        <div class="inputBox">
          <input type="password" name="password2" placeholder="Repeat Password"/>
        </div>
        <a class="link" href="/login">Access to my account</a>
        <button type="submit">Register</button>
    </form>
  </div>
</body>
</html>