@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: #181818;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    padding: 3.5rem;
    box-sizing: border-box;
    border: none;
    -webkit-border-radius: 8px;
    border-radius: 8px;

}

.box h1 {
    margin: 0px 0 -0.125rem;
    text-align: center;
    color: #ffffff;
    font-size: 52px;
    font-weight: 700;
    width: 90%;
    padding: 3.5%;
}

.box .logo 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 16px;

}

.box p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 34px;
    text-align: center;
}

.box img {
    margin-left: 50px;
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    padding: 1.3rem 2%;
    font-size: 1rem;
   letter-spacing: 0.062rem;
   margin-bottom: 1.875rem;
   border: none;
   background: transparent;
   border-radius: 4px;
   background-color: #242424;
   color: #cacaca;
   padding-left: 18px;
   padding-right: 18px;
}

.box .inputBox select {
    width: 100%;
    padding: 1.3rem 2%;
    font-size: 1rem;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: none;
    background: transparent;
    border-radius: 4px;
    background-color: #242424;
    color: #cacaca;
    padding-left: 18px;
    padding-right: 18px;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: gray;
    pointer-events: none;
    transition: 0.5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label,
.box .inputBox input:not([value=""]) ~ label {
    top: -1.125rem;
    left: 10px;
    color: #00BCD4;
    font-size: 0.75rem;
    background-color: #fff;
    height: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.box .inputBox input:focus {
    outline: none;
    border: 2px solid #00BCD4;
}

.box .link {
    color: #00BCD4;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    font-size: 1rem;
    float: left;
  }

.box button {
    border: none;
    outline: none;
    color: #000000;
    background-color: #00BCD4;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
    float: right;
}
.btn {
    width: 100% !important;
    margin-top: 20px !important;
}

@media only screen and (max-width: 600px) {
    .box {
        width: 95%;
    }
    .box img {
        margin-left: 0px !important;
    }
}
